<% layout("layouts/boilerplate") %>

<body>
    <!-- <h3>All Listings</h3>   -->

    <!-- <form method="get" action="/listings/new">
        <button>create new listings</button>
    </form> -->
<style>
    #filters{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        
    }
    .filter{
        text-align:center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity:0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filter p{
        font-size: 0.8rem;
    }

    .tax-info{
        display: none;
    }
   
    .tax-toggle{
        border:1px solid black;
        border-radius:1rem;
        height:3rem;
        padding:0.5rem;
        margin-left:3rem;
        display: flex;
        align-items: center;
    }
    
</style>


    <Div id="filters" class="container-fluid d-flex flex-wrap justify-content-center gap-3 mt-3">
        <div class="filter text-center">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter text-center">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
         <div class="filter text-center">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter text-center">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
         <div class="filter text-center">
            <div><i class="fa-solid fa-house-crack"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter text-center">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
         <div class="filter text-center">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
         <div class="filter text-center">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter text-center">
            <div><i class="fa-solid fa-snowman"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter text-center">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Dome</p>
        </div>
        
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch mt-2">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display Total After Taxes</label>
    </div>
        </div>
    </Div>

    <div class="container mt-3">
    <div class="row">
        <% for(let listing of allListings) { %>
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
                <a href="/listings/<%= listing._id %>" style="text-decoration: none; color: inherit;">
                    <img src="<%= listing.image.url ? listing.image.url : listing.image %>" class="card-img-top " style="height: 200px; object-fit: cover;"  alt="listing_image">
                    <div class="card-body">
    <p class="card-text">
        <%= listing.title %> <br/>
        &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price Not Available" %>
    </p>

    <span class="tax-info text-success">
        <% 
            let tax = listing.tax || (listing.price ? listing.price * 0.18 : 0);
            let total = Math.round((listing.price || 0) + tax);
        %>
        Total (incl. tax): ₹ <%= total.toLocaleString("en-IN") %>
    </span>
</div>

                </a>
            </div>
        </div>
        <% } %>
    </div>
</div>

<script>
let taxSwitch=document.getElementById("switchCheckDefault");
taxSwitch.addEventListener("click",()=>{
  let taxInfo=document.getElementsByClassName("tax-info");
  for (info of taxInfo){

    if(info.style.display != "inline"){
       info.style.display="inline";
    }else{
        info.style.display="none";
    }
    

  }
});

</script>
</body>


